NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SANITY_PREVIEW_SECRET=
SANITY_API_VERSION=2024-10-21
SANITY_REVALIDATE_SECRET=

GOOGLE_PLACES_API_KEY=

# Routing provider configuration
# Accepted providers: google, mapbox
ROUTING_PROVIDER=google
ROUTING_GOOGLE_MAPS_API_KEY=
ROUTING_MAPBOX_ACCESS_TOKEN=
